#Trie_des_ADD{
    
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap; 
}
#Trie_des_ADD {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
}
#Trie_des_ADD button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
}
#Trie_des_ADD button:hover {
  background-color: #ddd;
}
#Trie_des_ADD button.active {
  background-color: #ccc;
}
.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
}
.tabcontent {
  animation: fadeEffect 1s;
}
@keyframes fadeEffect {
  from {opacity: 0;}
  to {opacity: 1;}
}
#stockAadd
{
    display: none;    
}
